<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Apps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="form">
      <ion-list>
        <ion-item>
          <ion-label for="name" position="floating">Nombre</ion-label>
          <ion-input aria-labelledby="name" name="name" id="name" type="text" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label for="description" position="floating">Descripción</ion-label>
          <ion-input aria-labelledby="description" id="description" name="description" type="text" [(ngModel)]="description"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label for="price" position="floating">Precio</ion-label>
          <ion-input aria-labelledby="price" id="price" name="price" type="number" [(ngModel)]="price"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button *ngIf="!edit" expand="full" (click)="addApp()">Añadir</ion-button>
      <ion-button *ngIf="edit" expand="full" (click)="putApp()">Editar</ion-button>
    </div>
  <div id="card-list">
    <ion-card *ngFor="let a of apps">
      <ion-card-header>
        <img alt="Logo de aplicación" src="https://ionicframework.com/docs/img/demos/card-media.png"/>
        <ion-card-title>{{a.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{a.description}}
      </ion-card-content>
      <ion-accordion-group>{{a.price}}</ion-accordion-group>
      <ion-button (click)="deleteApp(a.id)">Eliminar</ion-button>
      <ion-button (click)="updateApp(a)">Editar</ion-button>
      <!-- <ion-button (click)="buyApp(a)">Comprar</ion-button> -->
    </ion-card>
  </div>
</ion-content>
